<h1><%= t('helpers.navigate.editing') + ' ' + t('activerecord.models.singular.participant') %></h1>

<%= render 'form' %>

<%= link_to t('helpers.navigate.show'), @participant %> |
<%= link_to t('helpers.navigate.back'), participants_path %>
