<h1><%= t('helpers.navigate.new_object') %> <%=t('activerecord.models.singular.participant') %></h1>

<%= render 'form' %>

<div id="user_nav">
  <% if user_signed_in? %>
    <%= link_to t('helpers.navigate.back'), participants_path %>
  <% end %>
</div>