<h1><%= t('helpers.navigate.editing') + ' ' + t('activerecord.models.singular.category') %></h1>

<%= render 'form' %>

<%= link_to t('helpers.navigate.show'), @category %> |
<%= link_to t('helpers.navigate.back'), categories_path %>
