<p>Hallo <%= @resource.email %>!</p>

<p>Iemand heeft een aanvraag gedaan om uw paswoord te wijzigen. U kunt dit doen met de onderstaande link.</p>

<p><%= link_to 'Wijzig mijn paswoord', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Als u het verzoek niet zelf heeft gedaan kunt u deze email negeren.</p>
<p>Uw paswoord wordt pas gewijzigd als u via bovenstaande link uw paswoord wijzigd.</p>
