<h1><%= t('helpers.navigate.editing') + ' ' + t('activerecord.models.singular.activity') %></h1>

<%= render 'form' %>

<%= link_to t('helpers.navigate.show'), @activity %> |
<%= link_to t('helpers.navigate.back'), activities_path %>
